$main-bg-color: rgba(255, 254, 251, 0.8);
$button-disabled: #eeeeee;
$button-green: #7bae73;
$font-gray: #b4b4b4;
$font-white: #ffffff;
$font-black-less: #49485e;
$font-black: #3f3f3f;
$bg-pink: #ff8484;
$bg-red: rgb(190, 36, 36);
$bg-green: rgb(2, 126, 2);
$bg-green-active: rgb(2, 87, 2);
$bg-milk: rgb(248, 248, 245);
